html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}




/*** COLOURS AND FONTS ***/
/* #000 #fff #bcbec0 #ec008c */

/* *{border: #000 1px solid;} */

html {
    font-size: 62.5%;
    /* Base font size is 10px */
}

@font-face {
    font-family: "Queens-Var";
    src: url('./fonts/QueensVarTrial.ttf') format('truetype-variations');
    font-weight: 400 600;
}

@font-face {
    font-family: "MarkPro-Book";
    src: url('./fonts/MarkPro-Book.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: "MarkPro-Medium";
    src: url('./fonts/MarkPro-Medium.otf') format('opentype');
    font-weight: 600;
}

.logo{
    font-family: "Queens-Var";
    font-variation-settings: "wdth" 100, "wght" 400; 
    font-size: 7rem;
    color: #fff;
    margin:0;
    transition-property: all;
    transition-duration: 0.8s;
    letter-spacing: -0.1rem;
    text-decoration: none;
}

.logo:hover{
    font-variation-settings: "wdth" 100, "wght" 600; 
}



/* GLOBAL */
body{
    background-color: #000;
}

.wrapper{
margin: 0 auto;
width: 95%;
display: flex;
flex-direction: column;
justify-content: space-between;
}


/* HEADER */
header{
    display: flex;
    justify-content: space-between;
}

header .top-nav p{
    text-align: right;
}

.top-nav{
    margin-top: 10px;
}

.top-nav-link{
    font-family: "MarkPro-Book";
    font-size: 1.6rem;
    color: #fff;
    text-transform: capitalize;
    text-decoration: none;
}
    
.top-nav-link:hover,
.bottom-nav-link a:hover{
    text-decoration: underline;
    color: #ec008c;
}



/* MAIN */
main{
    margin: 40px 0 40px 0;
}

main img{
    width: 100%;
    margin-bottom: 30px;
}

.content,
.content-link{
    font-family: "MarkPro-Book";
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: #fff;
}

.content-link{
    padding-right: 10px;
}

.content-link:hover{
    color: #ec008c;
}



/* FOOTER */
footer .logo{
    text-align: right;
    margin-bottom: 5px;
}

.bottom-nav{
    color: #fff;
    border-top: #fff 1px solid;
    font-family: "MarkPro-Book";
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 0;
}

.bottom-nav-link{
    display: flex;
    list-style: none;
    padding: 0;
}

.bottom-nav-link li{
    margin-left: 20px;
    
}

.bottom-nav-link a{
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
}




/*** RESPONSIVE ***/
@media only screen and (min-width: 600px) {

    /* GLOBAL */
    /* body{
        background: blue;
    } */

    .logo{
        font-size: 12rem;
        letter-spacing: -0.25rem;
    }

    /* HEADER */    
    .top-nav{
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
    }

    header .top-nav-link{
        margin-left: 30px;
    }


    /* MAIN */
    main{
        margin: 90px 0 90px 0;
    }

}


@media only screen and (min-width: 1000px) {

    /* GLOBAL */
    /* body{
        background: red;
    } */



    /* HEADER */
    .top-nav{
        margin-top: 45px;
    }

    .top-nav-link{
        font-size: 1.8rem;
    }


    /* MAIN */
    main{
        display: flex;
        align-items: flex-start;
        margin: 120px 0 120px 0;
    }

    main img{
        width: 35%;
        margin-right: 150px;
        transition: all 0.8s;
    }

    main img:hover{
        filter: grayscale(1);
    }



    /* FOOTER */
    .bottom-nav{
        padding: 15px 0 15px 0;
    }

}